* {
    font-family: "Single Day";
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;

}

body {


    width: 100vh;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}